
:root {
    --brand-color: #4D5AE5;
    --brand-color2: #2E2F42;
    --brand-color3: #404BBF;
    --brand-color4: #FFFFFF;
    --brand-color5: #434455;
    --brand-color6: #F4F4FD;
    --brand-color7: #E7E9FC;
    --brand-color8: #8E8F99;
    --brand-color9: #31D0AA;


}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}



img{
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

button{
    cursor: pointer;
}

.container { 
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left:  auto;
margin-right:  auto;

}

header{
    border-bottom: 1px solid var(--brand-color7);
    
}

.header-nav{
    display: flex;
    align-items: center;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-content{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}



.logo {
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    
    
  
   
}

.link{
    text-decoration: none;
}

.logo-studio-header{
    color: var(--brand-color2);

}

.list-link{
        color:var(--brand-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: flex;
        position: relative;
        color: var(--brand-color3);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-link::after{
    content: '';
    position: absolute;
    left:0;
    bottom:-1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}




.list-link:hover{
    color:var(--brand-color3);
}

.list-link:focus{
    color: var(--brand-color3);
}


.list {
    list-style: none;

}

.container-list-item{
    display: flex;
    gap: 24px;

}

.container-list{
    display: flex;
    gap: 40px;
   

   
}



address{
    font-style: normal;
}

.contacts{
    color:var(--brand-color5);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;

       
        
}

.contacts-list{
    display: flex;
    gap: 40px;
   
}

.header-container{
    display: flex;
    align-items: center;
}

.contacts:hover{
    color: var(--brand-color3);
}

.contacts:focus{
    color: var(--brand-color3);
}

.contacts-list-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color5);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover{
    color: var(--brand-color3);
}

.contacts-list-link:focus{
    color: var(--brand-color3);
}

.pagination-btn{
    background-color: var(--brand-color6);
    color: var(--brand-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--brand-color7)
}


.pagination-btn:hover{
    background-color: var(--brand-color3);
    color:var(--brand-color4);
    border: 1px solid transparent;
}

.pagination-btn:focus{
    background-color: var(--brand-color3);
    color: var(--brand-color4);
    border: 1px solid transparent;
}

.section-two-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

.picture-subtitle{
    color:var(--brand-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.picture-desc{
    color:var(--brand-color5);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer{
    background-color: var(--brand-color2);
    padding:100px 0 ;

}

.title-footer{
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}

.logo-studio-footer {
    color: var(--brand-color6);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
}


.footer-text{
    color: var(--brand-color6);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.hero{
    background-color: var(--brand-color2);
    padding: 188px 0 188px 0;
    background-image:url(/images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(/images/hero-img.jpg);;
    max-width: 1440px;
    background-position: center;
    background-size: cover;


}

.title{
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--brand-color4);
        text-align: center;
        margin-bottom: 48px;
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;

}

.hero-btn{
    background-color: var(--brand-color);
    color: var(--brand-color4);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    transition-property: background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   
}


.hero-btn:hover{
    background-color: var(--brand-color3);
}

.hero-btn:focus{
    background-color: var(--brand-color3);
}

.caption{
        color: var(--brand-color2);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.section-two{
    padding: 120px 0;
}

.section-three{
    padding-bottom: 120px;
}

.list-tagline{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color5);
}
.caption-desc{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--brand-color5);
        width: 264px;
}

.subtitle{
        color: var(--brand-color2);
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;

      
}

.container-img{
    display: flex;
    gap: 24px;
}

.subject-list-teammate{
    background-color: var(--brand-color4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
       
}

.section-four{
    background-color: var(--brand-color6);
    padding: 120px 0;

    
}
.subject{
        color: var(--brand-color2);
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        background-color: var(--brand-color6);
        margin-bottom: 72px;

}

.subject-list{
    background-color: var(--brand-color6);
    display: flex;
    gap: 24px;
}
.subject-name{
        color: var(--brand-color2);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;

}

.subject-jobtitle{
        color:var(--brand-color5);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;

}


.list-btn{
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
    row-gap: 24px;




}

.container-images{
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    row-gap: 48px;

  
    }

.container-images-link{
   width: calc((100% - 48px) / 3);
    
}

.name-job{
    padding: 32px 0 8px 0;

}

.main-section{
    padding-top:96px;
    padding-bottom: 120px;
}


.container-imeages{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-five-title{
    color: var(--brand-color2);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.section-two-icon{
    width: 64;
    height: 64;
    background-color:var(--brand-color6);
    fill: none;
    padding: 24px 100px;
    margin-bottom: 8px;
  
}


.soc-network{
   display: flex;
   justify-content: center;
   gap: 24px;
   padding-bottom: 32px;
}

.soc-network-list{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--brand-color);
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



}

.soc-network-list:hover {
    background-color: var(--brand-color3);
}



.soc-network-link{
    width: 100%;
    height: 100%;
    display: block;
 
}




.company-item{
    width: 168px;
    height: 88px;
    border-radius: 100px;
    border: 1px solid var(--lightslate, #8E8F99);
    padding: 16px 32px;
    transition-property: background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    
}

.company-img{
    fill: transparent;
}
.company-img:hover {
    stroke: var(--brand-color3);
}
.company-img:active{
    stroke: var(--brand-color3);
}

.company-link{
    width: 100%;
    height: 100%;
    display: block;
    
}

.section-five{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-five-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    transition-property: background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color4);
    padding-bottom: 16px;
        
}


.footer-item{
    width: 40px;
    height: 40px;
    background-color: var(--brand-color);
    padding: 8px;
    border-radius: 100%;
    transition-property: background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   
   
}

.footer-link{
    display: block;
    width: 100%;
    height: 100%;
    
}

.footer-item:hover{
    background-color: var(--brand-color9);
}




